.navbar {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: hsla(0, 0%, 100%, .82);
}

.hero-section {
  display: block;
  height: 60vh;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navlink {
  padding: 38px 15px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #423f3f;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.navlink:hover {
  color: #006d94;
}

.heroheading {
  font-family: Montserrat, sans-serif;
  color: #d3d3d3;
  text-align: center;
  text-transform: uppercase;
}

.herocontainerheading {
  margin-bottom: -82px;
}

.herodivslider {
  margin-top: 101px;
}

.herocontainerslider {
  margin-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.companylogo {
  margin-bottom: 15px;
}

.body {
  background-color: #fff;
}

.imageslider {
  height: 60vh;
  margin-bottom: 23px;
  padding-bottom: 0px;
}

.slider {
  padding-bottom: 0px;
  background-color: #0098ff;
  background-image: url('../images/explore.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide {
  background-color: #fff;
  background-image: url('../images/sign_in.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.slide.image2 {
  background-image: url('../images/explore.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: 750px, contain;
  background-repeat: repeat, no-repeat;
}

.slide.image-2 {
  background-image: url('../images/explore.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide.image-3 {
  background-image: url('../images/sign_up.jpg');
}

.slide.image-4 {
  background-image: url('../images/bg.jpg');
}

.logo {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.nav-container {
  width: auto;
}

.sectionbottom {
  margin-bottom: 0px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #4c6170;
}

.containerbottom {
  position: relative;
  display: block;
  height: auto;
  padding-top: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 13px;
  text-align: center;
}

.imagebottom {
  display: block;
  width: 300px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0px;
  background-color: transparent;
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
  text-align: center;
}

.company-column {
  position: static;
  display: block;
  overflow: scroll;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  background-color: #94a1aa;
}

.right {
  padding-bottom: 30px;
  background-color: #94a1aa;
}

.image {
  display: block;
  width: 200px;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 0px;
  -webkit-transition: all 550ms ease-in-out;
  transition: all 550ms ease-in-out;
}

.image:hover {
  -webkit-perspective: 1482px;
  perspective: 1482px;
  -webkit-transform: scale(1.11);
  -ms-transform: scale(1.11);
  transform: scale(1.11);
}

.headinglogo {
  display: block;
  margin: -19px auto 48px;
  padding-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #dadada;
  text-align: center;
  text-transform: uppercase;
}

html.w-mod-js *[data-ix="hero-section"] {
  opacity: 0;
  -webkit-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}

html.w-mod-js *[data-ix="image-1"] {
  opacity: 0;
  -webkit-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}

html.w-mod-js *[data-ix="image-2"] {
  opacity: 0;
  -webkit-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}

html.w-mod-js *[data-ix="image-3"] {
  opacity: 0;
  -webkit-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}

html.w-mod-js *[data-ix="image-4"] {
  opacity: 0;
  -webkit-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}

html.w-mod-js *[data-ix="image-5"] {
  opacity: 0;
  -webkit-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}

html.w-mod-js *[data-ix="image-6"] {
  opacity: 0;
  -webkit-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}

@media (max-width: 991px) {
  .hero-section {
    height: 44vh;
  }
  .navlink {
    display: block;
    height: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 18px;
    padding-bottom: 21px;
    padding-left: 24px;
    font-size: 15px;
  }
  .imageslider {
    height: 44vh;
  }
  .logo {
    width: 111px;
    padding-top: 5px;
  }
  .navbutton {
    padding-top: 9px;
    color: #000;
    font-size: 37px;
  }
  .navbutton.w--open {
    background-color: #fff;
  }
  .navmenu {
    height: 177px;
    background-color: #fff;
  }
}

@media (max-width: 767px) {
  .hero-section {
    height: 34vh;
  }
  .navlink {
    height: 0px;
    padding-top: 19px;
    padding-bottom: 0px;
    padding-left: 30px;
    font-size: 13px;
  }
  .imageslider {
    height: 34vh;
  }
  .logo {
    width: 85px;
    padding-top: 0px;
  }
  .navbutton {
    padding-top: 6px;
    padding-right: 14px;
    font-size: 30px;
  }
  .navmenu {
    height: 106px;
  }
}

@media (max-width: 479px) {
  .hero-section {
    height: 22vh;
  }
  .navlink {
    height: 0px;
    padding-top: 17px;
    padding-bottom: 0px;
    padding-left: 27px;
    font-size: 11px;
  }
  .imageslider {
    height: 22vh;
  }
  .logo {
    width: 78px;
    padding-top: 0px;
  }
  .nav-container {
    padding-bottom: 0px;
    font-size: 6px;
  }
  .navbutton {
    width: 66px;
    height: 13px;
    padding-top: 6px;
    padding-right: 8px;
    font-size: 30px;
  }
  .navmenu {
    height: 91px;
  }
}