.header {
    width: 100%;
}

.topbar {
    background: #eee;
    box-shadow: 0 1px 5px #ccc;
}

.topbar__logo {
    text-align: center;
}

@media (max-width:767px) {
    .topbar__logo .topbar__logo__normal {
        display: none;
    }
}

@media (min-width:768px) {
    .topbar__logo .topbar__logo__small {
        display: none;
    }
}

.topbar__cart {
    margin-top: 44px;
    text-align: left;
}

.topbar__search {
    margin-top: 44px;
    text-align: right;
}

.topbar__search .form-control {
    border: solid 1px transparent;
    border-bottom: solid 1px #555;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #eee;
    font-size: 12px;
    text-align: left;
}

.topbar__search .form-control:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.topbar__search .btn {
    background: #eee;
}

.navbar .navbar-collapse {
    position: relative;
    z-index: 1003;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 14px;
    background: #fff;
}

.navbar .navbar-collapse a {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.navbar .navbar-header {
    position: relative;
    z-index: 1004;
    text-align: center;
}

.navbar .navbar-nav {
    text-align: center;
}

@media (max-width:767px) {
    .navbar .navbar-nav ul.dropdown-menu li {
        text-align: center;
    }
}

.navbar .navbar-nav ul.dropdown-menu li {
    font-size: 13px;
}

.navbar .yamm-content h3 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-top: 5px;
    border-bottom: dotted 1px #555;
}

@media (max-width:767px) {
    .navbar .yamm-content h3 {
        font-size: 14px;
    }
}

.navbar .yamm-content h5 {
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: dotted 1px #555;
}

.navbar .yamm-content ul {
    margin: 0;
    padding: 0;
}

.navbar .yamm-content ul li {
    list-style-type: none;
    border-bottom: solid 1px #eee;
    text-transform: uppercase;
    padding: 4px 0;
}

.navbar .yamm-content ul li a {
    color: #999;
    font-size: 12px;
    display: block;
}

.navbar .yamm-content ul li a:hover {
    color: #006d94;
    text-decoration: none;
}

.navbar .yamm-content .banner {
    margin-bottom: 10px;
}

.navbar ul.nav>li>a {
    text-transform: uppercase;
    text-decoration: underline;
}

.navbar li.active a {
    text-decoration: none !important;
}

.navbar .yamm-fw .dropdown-menu {
    padding: 0;
}

.navbar .normal-dropdown .dropdown-menu li {
    text-transform: uppercase;
    padding: 4px 0;
    font-weight: 400;
}

.navbar .navbar-buttons {
    float: right;
}

.navbar .navbar-buttons button,.navbar .navbar-buttons a.btn,.navbar .navbar-buttons .btn-default.navbar-toggle {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px;
}

.navbar .btn-default,.navbar .btn-default.navbar-toggle {
    color: #999;
    background-color: #fff;
    margin-left: 7px;
}

.navbar .btn-default:hover,.navbar .btn-default.navbar-toggle:hover,.navbar .btn-default:focus,.navbar .btn-default.navbar-toggle:focus {
    background-color: #fff;
    border-color: #006d94;
    color: #006d94;
}

.navbar .collapsed-search {
    clear: both;
    margin: 40px auto;
    padding: 20px;
}

.navbar .collapsed-search form {
    float: none;
    width: auto;
}

.navbar .collapsed-search form .input-group {
    display: table;
}

.navbar .collapsed-search form .input-group .input-group-btn {
    white-space: nowrap;
    width: 1%;
}

.navbar .collapsed-search form .input-group .form-control {
    width: 100%;
}

@media (min-width:768px) {
    .navbar .collapsed-search {
        display: none;
    }
}

.navbar #basket-overview a {
    margin-left: 7px;
}

#login-modal {
    overflow: hidden;
}

#login-modal .modal-header h4 {
    text-transform: uppercase;
}

#login-modal form {
    margin-bottom: 20px;
}

#login-modal a {
    color: #006d94;
}

#login-modal p {
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 13px;
}

.modal-backdrop {
    z-index: 1035;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

header {
    z-index: 1000;
}

section {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}

.italic {
    font-style: italic;
    font-family: "Georgia","Times New Roman",Times,serif;
}

.roboto {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.heading {
    text-align: center;
    margin-bottom: 40px;
}

.heading:after {
    content: " ";
    display: block;
    width: 100px;
    height: 2px;
    margin: 20px auto;
    background: #006d94;
}

.img-responsive {
    margin: 0 auto;
}

.page-top {
    text-align: center;
    margin-bottom: 45px;
    padding-bottom: 30px;
}

.page-top h1 {
    font-size: 43.2px;
    color: #006d94;
}

@media (max-width:991px) {
    .page-top h1 {
        font-size: 32.4px;
    }
}

.page-top:after {
    height: 1px;
    background: #555;
    position: relative;
    top: 20px;
    margin: 0 auto;
    width: 150px;
}

.box {
    margin-bottom: 30px;
}

.box-simple {
    text-align: center;
    margin-bottom: 40px;
}

.box-simple .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    border: solid 1px #958a73;
    color: #958a73;
    border-color: #958a73;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    font-size: 14px;
    margin: 0 auto 30px;
}

.box-simple h3 {
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.5;
    color: #555;
    font-weight: 800;
    letter-spacing: .08em;
}

.box-simple h3 a {
    color: #555;
}

.box-simple p {
    color: #999;
}

.box-simple:hover .icon {
    -webkit-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

.box-simple:hover .icon i {
    -webkit-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
}

.box-simple.box-white {
    padding: 20px;
    border: dotted 1px #999;
}

.box-simple.box-white .icon {
    color: #555;
    border-color: transparent;
    font-size: 70px;
}

.box-simple.box-dark {
    padding: 20px;
    border: dotted 1px #999;
    background: #555;
    color: #fff;
}

.box-simple.box-dark .icon {
    color: #f7f7f7;
    border-color: transparent;
    font-size: 70px;
}

.box-simple.box-dark h3 {
    color: #fff;
}

.box-simple.box-dark h3 a {
    color: #fff;
}

.box-simple.box-dark p {
    color: #fff;
}

.no-space .box {
    margin: 0 -15px;
}

.margin-bottom {
    margin-bottom: 30px;
}

a,button {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

a i.fa,button i.fa {
    margin: 0 5px;
}

.clickable {
    cursor: pointer !important;
}

.required {
    color: #006d94;
}

.accent {
    color: #006d94;
}

.text-uppercase {
    text-transform: uppercase;
}

.list-style-none {
    list-style: none;
}

.input-group-btn .btn {
    height: 34px;
}

.box {
    background: #fff;
    margin: 0 0 30px;
    border: solid 1px #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    border-left: none;
    border-right: none;
}

.box .box-header {
    background: #f7f7f7;
    margin: -20px -20px 20px;
    padding: 20px;
    border-bottom: solid 1px #eee;
}

.box .box-header:before,.box .box-header:after {
    content: " ";
    display: table;
}

.box .box-header:after {
    clear: both;
}

.box .box-footer {
    background: #f7f7f7;
    margin: 30px -20px -20px;
    padding: 20px;
    border-top: solid 1px #eee;
}

.box .box-footer:before,.box .box-footer:after {
    content: " ";
    display: table;
}

.box .box-footer:after {
    clear: both;
}

@media (max-width:991px) {
    .box .box-footer .btn {
        margin-bottom: 20px;
    }
}

.box.no-border {
    border: none;
}

.box.black-white {
    border-top-color: #555;
    border-bottom-color: #555;
}

.box.black-white .box-header {
    background: #fff;
    border-bottom-color: #555;
}

.box.black-white .box-header:before,.box.black-white .box-header:after {
    content: " ";
    display: table;
}

.box.black-white .box-header:after {
    clear: both;
}

.box.black-white .box-footer {
    background: #fff;
    border-top-color: #555;
}

.box.black-white .box-footer:before,.box.black-white .box-footer:after {
    content: " ";
    display: table;
}

.box.black-white .box-footer:after {
    clear: both;
}

.ribbon {
    position: absolute;
    top: 50px;
    padding-left: 51px;
}

.ribbon .ribbon-background {
    position: absolute;
    top: 0;
    right: 0;
}

.ribbon .theribbon {
    position: relative;
    width: 80px;
    padding: 6px 20px;
    margin: 30px 10px 10px -71px;
    color: #fff;
    background-color: #006d94;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
}

.ribbon .theribbon:before,.ribbon .theribbon:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
}

.ribbon .theribbon:after {
    left: 0;
    top: 100%;
    border-width: 5px 10px;
    border-style: solid;
    border-color: #000 #000 transparent transparent;
}

.ribbon.ribbon-quick-view {
    padding-left: 36px;
}

.ribbon.ribbon-quick-view .theribbon {
    margin-left: -59px;
}

.ribbon.ribbon-quick-view .theribbon:after {
    border-width: 4px;
}

.ribbon.sale {
    top: 0;
}

.ribbon.new {
    top: 50px;
}

.ribbon.new .theribbon {
    background-color: #5bc0de;
    text-shadow: 0 1px 2px #bbb;
}

.ribbon.new .theribbon:after {
    border-color: #2390b0 #2390b0 transparent transparent;
}

.ribbon.gift {
    top: 100px;
}

.ribbon.gift .theribbon {
    background-color: #006d94;
    text-shadow: 0 1px 2px #bbb;
}

.ribbon.gift .theribbon:after {
    border-color: #006d94 #006d94 transparent transparent;
}

#content .icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    color: #fff;
    line-height: 80px;
    border-radius: 40px;
    border: solid 1px #fff;
    font-size: 20px;
}

#content .icon.icon-lg {
    font-size: 30px;
    border-width: 2px;
}

#content .bar {
    position: relative;
    padding: 50px 0;
    margin: 50px 0 80px;
}

#content .bar.background-gray {
    background: #eee;
}

#content .bar.background-gray-dark {
    background: #555;
}

#content .bar.background-white {
    background: #fff;
}

#content .bar.background-image-fixed-1 {
    background: url(../img/fixed-background-1.jpg) center top no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#content .bar.background-image-fixed-2 {
    background: url(../img/fixed-background-2.jpg) center top no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#content .bar.color-white h1,#content .bar.color-white h2,#content .bar.color-white h3,#content .bar.color-white h4,#content .bar.color-white h5,#content .bar.color-white h6,#content .bar.color-white p {
    color: #fff;
}

#content .bar.padding-big {
    padding: 50px 0;
}

#content .bar.padding-horizontal {
    padding-left: 30px;
    padding-right: 30px;
}

#content .bar.margin-vertical {
    margin-top: 20px;
    margin-bottom: 20px;
}

#content .bar .dark-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .3;
    filter: alpha(opacity=30);
}

.intro {
    position: relative;
    width: 100%;
    min-height: 600px;
    text-align: center;
    color: #fff;
}

.intro h1,.intro h2,.intro h3 {
    color: #fff;
}

.intro span.bold {
    font-weight: 700;
}

.intro h1 {
    font-size: 56px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.intro p {
    font-size: 23px;
}

@media (min-width:1200px) {
    .intro h1 {
        font-size: 96px;
    }

    .intro p {
        font-size: 18px;
    }
}

@media (max-width:991px) {
    .intro h1 {
        font-size: 30px;
    }

    .intro p {
        font-size: 18px;
    }
}

.intro .icon {
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: solid 2px #fff;
    border-radius: 20px;
    z-index: 3;
    color: #fff;
}

.intro .content {
    position: relative;
    width: 100%;
    z-index: 3;
}

.intro.colour-background {
    background: #006d94;
}

.intro.image-background {
    background: url(../img/north_shore_surfer.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-backface-visibility: hidden;
}

.intro.image-background .overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #006d94;
    opacity: .93;
    filter: alpha(opacity=93);
    z-index: 2;
}

.intro a {
    color: #fff;
}

.intro a:hover,.intro a:focus {
    color: #fff;
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

#slider a img {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

#slider a:hover img {
    opacity: .8;
    filter: alpha(opacity=80);
}

.breadcrumb {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
    font-size: 12px;
}

#categoryMenu h3 {
    padding: 20px;
    background: #f7f7f7;
    margin: 0;
    border-bottom: solid 1px #eee;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 18px;
}

.panel.sidebar-menu h3 {
    padding: 5px 0;
    margin: 0;
    font-size: 18px;
}

.panel.sidebar-menu {
    background: #fff;
    margin: 0 0 20px;
    border-left: none;
    border-right: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.panel.sidebar-menu .panel-heading {
    text-transform: uppercase;
    letter-spacing: .1em;
}

.panel.sidebar-menu .panel-heading .btn.btn-danger {
    color: #fff;
}

.panel.sidebar-menu h3.panel-title {
    font-size: 14px;
    font-weight: 900;
}

.panel.sidebar-menu .panel-body span.colour {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: solid 1px #555;
    vertical-align: top;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 10px;
}

.panel.sidebar-menu .panel-body span.colour.white {
    background: #fff;
}

.panel.sidebar-menu .panel-body span.colour.red {
    background: red;
}

.panel.sidebar-menu .panel-body span.colour.green {
    background: green;
}

.panel.sidebar-menu .panel-body span.colour.blue {
    background: #00f;
}

.panel.sidebar-menu .panel-body span.colour.yellow {
    background: #ff0;
}

.panel.sidebar-menu .panel-body label {
    color: #999;
    font-size: 12px;
}

.panel.sidebar-menu .panel-body label:hover {
    color: #555;
}

.panel.sidebar-menu ul.nav.category-menu {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.panel.sidebar-menu ul.nav.category-menu li a {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
}

.panel.sidebar-menu ul.nav ul {
    list-style: none;
    padding-left: 0;
}

.panel.sidebar-menu ul.nav ul li {
    display: block;
}

.panel.sidebar-menu ul.nav ul li a {
    position: relative;
    font-family: "Georgia","Times New Roman",Times,serif;
    font-weight: 400;
    text-transform: none !important;
    display: block;
    padding: 10px 15px;
    padding-left: 30px;
    font-size: 12px;
    color: #999;
}

.panel.sidebar-menu ul.nav ul li a:hover,.panel.sidebar-menu ul.nav ul li a:focus {
    text-decoration: none;
    background-color: #eee;
}

.info-bar {
    line-height: 32px;
    vertical-align: middle;
    margin-bottom: 40px;
}

@media (max-width:991px) {
    .info-bar .products-showing {
        text-align: center;
    }
}

.info-bar .products-number-sort {
    font-size: 13px;
}

@media (max-width:991px) {
    .info-bar .products-number-sort {
        text-align: center;
        margin-top: 10px;
    }
}

.info-bar .products-number {
    text-align: center;
}

.info-bar .products-number strong {
    margin-right: 10px;
}

.info-bar .products-sort-by {
    text-align: right;
}

.info-bar .products-sort-by select {
    margin-left: 10px;
}

@media (max-width:991px) {
    .info-bar .products-sort-by {
        margin: 0;
    }
}

@media (max-width:767px) {
    .info-bar .products-sort-by {
        text-align: center;
        margin: 10px 0 0;
    }
}

.product {
    background: #fff;
    border-bottom: dotted 1px #e6e6e6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
    overflow: hidden;
    text-align: center;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.product .image {
    overflow: hidden;
    position: relative;
}

.product .image img {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

@media (max-width:767px) {
    .product .image img.img-responsive {
        min-width: 100%;
    }
}

.product .image .quick-view-button {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 50%;
    margin-left: -50px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.product .image .quick-view-button .btn {
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 11px;
    width: 100px;
    text-align: center;
}

@media (max-width:767px) {
    .product .image .quick-view-button {
        display: none;
    }
}

.product .text {
    padding: 10px;
}

.product .text h3 {
    font-size: 18px;
    font-weight: 700;
    height: 43.2px;
    margin-bottom: 0;
}

.product .text h3 a {
    color: #555;
}

.product .text p.price {
    font-size: 18px;
}

.product .text p.price del {
    color: #999;
}

.product .buttons {
    clear: both;
    position: absolute;
    display: none;
    bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: solid 1px transparent;
    padding: 20px;
    background: rgba(255,255,255,0.9);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    text-align: center;
}

.product .buttons .btn {
    margin-bottom: 20px;
}

.product:hover {
    border-bottom: solid 1px gray;
    top: 0;
}

.product:hover .quick-view-button .btn {
    opacity: .8;
    filter: alpha(opacity=80);
}

.product:hover .image img {
    -webkit-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

.product p.brand {
    font-weight: 400;
    font-size: 12px;
}

.product__heading {
    color: #006d94;
}

.banner {
    margin-bottom: 30px;
    text-align: center;
}

.banner img {
    margin: 0 auto;
}

.banner a:hover img {
    opacity: .8;
    filter: alpha(opacity=80);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.pages {
    text-align: center;
}

.pages .loadMore {
    text-align: center;
}

.pages .pagination {
    text-align: center;
}

.mainImage {
    margin-bottom: 40px;
}

.quick-view-main-image {
    text-align: center;
}

.quick-view-main-image img {
    max-height: 350px;
    margin: 0 auto;
}

.product__main,.quick-view {
    margin-bottom: 30px;
}

.product__main .goToDescription,.quick-view .goToDescription {
    font-size: 12px;
    text-align: center;
}

.product__main .goToDescription a,.quick-view .goToDescription a {
    color: #999;
    text-decoration: underline;
}

.product__main .sizes,.quick-view .sizes {
    text-align: center;
}

.product__main .sizes a,.quick-view .sizes a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #ccc;
    line-height: 40px;
    color: #555;
    text-align: center;
    text-decoration: none;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
}

.product__main .sizes a.active,.quick-view .sizes a.active,.product__main .sizes a:hover,.quick-view .sizes a:hover {
    background: #006d94;
    color: #fff;
}

.product__main .sizes input,.quick-view .sizes input {
    display: none;
}

.product__main .price,.quick-view .price {
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
}

.product__details {
    margin-top: 30px;
    padding-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
}

.product__details h4 {
    text-align: center;
}

.quick-view {
    margin-bottom: 20px;
}

.quick-view .box {
    margin-top: 20px;
}

.quick-view h2 {
    text-align: center;
}

.quick-view .sizes h3 {
    font-size: 18px;
    margin-top: 10px;
}

.quick-view .sizes a {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    line-height: 30px;
}

.quick-view .price {
    font-size: 28px;
    margin: 20px 0;
}

.thumbs a,.product__thumbs a {
    display: block;
    border-bottom: solid 3px transparent;
    padding-bottom: 10px;
}

.thumbs a.active,.product__thumbs a.active {
    border-bottom-color: #006d94;
}

.quick-view .thumbs {
    margin-top: 30px;
}

.product__social {
    margin-top: 30px;
}

.quick-view-social,.product__social {
    text-align: center;
}

.quick-view-social h4,.product__social h4 {
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
}

.quick-view-social p,.product__social p {
    line-height: 26px;
}

.quick-view-social p a,.product__social p a {
    margin: 0 10px 0 0;
    color: #fff;
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    line-height: 26px;
    font-size: 15px;
    text-align: center;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    vertical-align: bottom;
}

.quick-view-social p a i,.product__social p a i {
    vertical-align: bottom;
    line-height: 26px;
}

.quick-view-social p a.facebook,.product__social p a.facebook {
    background-color: #4460ae;
}

.quick-view-social p a.gplus,.product__social p a.gplus {
    background-color: #c21f25;
}

.quick-view-social p a.twitter,.product__social p a.twitter {
    background-color: #3cf;
}

.quick-view-social p a.instagram,.product__social p a.instagram {
    background-color: #cd4378;
}

.quick-view-social p a.email,.product__social p a.email {
    background-color: #4a7f45;
}

@media (max-width:991px) {
    .quick-view-social,.product__social {
        text-align: center;
    }
}

#main-slider {
    opacity: 0;
    filter: alpha(opacity=0);
}

#main-slider .item {
    padding: 40px;
    text-align: center;
    height: 500px;
    background-size: cover;
    color: #fff;
}

#main-slider .item h1,#main-slider .item h2,#main-slider .item h3,#main-slider .item h4,#main-slider .item h5,#main-slider .item h6,#main-slider .item p {
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

@media (min-width:1200px) {
    #main-slider .item {
        height: 600px;
    }

    #main-slider .item .content {
        position: relative;
        top: 50%;
        -webkit-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
        transform: translate(0,-50%);
    }

    #main-slider .item p {
        font-size: 18px;
    }
}

.box.slideshow ul li div,#main-slider ul li div {
    width: 100%;
}

.box.slideshow .owl-controls,#main-slider .owl-controls {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.box.slideshow .owl-controls .owl-buttons,#main-slider .owl-controls .owl-buttons {
    display: none;
}

.box.slideshow .owl-controls .owl-page.active span,#main-slider .owl-controls .owl-page.active span,.box.slideshow .owl-controls.clickable .owl-page:hover span,#main-slider .owl-controls.clickable .owl-page:hover span {
    background: #006d94;
}

#text-page h1,#text-page h2,#text-page h3 {
    font-weight: 700;
}

#error-page {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
}

#error-page h4 {
    margin-bottom: 40px;
}

#error-page p.buttons {
    margin-top: 40px;
}

#map {
    height: 400px;
}

.page-top .author-date-top {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #999;
    font-size: 12px;
}

.post {
    margin-bottom: 60px;
}

.post h2,.post h4 {
    text-align: center;
}

.post h2 a,.post h4 a {
    color: #555;
}

.post h2 a:hover,.post h4 a:hover {
    color: #006d94;
}

.post .author-category {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #999;
    font-size: 12px;
    margin-bottom: 5px;
    text-align: center;
}

.post .author-category a {
    color: #555;
}

.post .author-category a:hover {
    color: #006d94;
}

.post .date-comments {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #999;
    font-size: 12px;
    text-align: center;
}

.post .date-comments a {
    color: #999;
    margin-right: 20px;
}

.post .date-comments a:hover {
    color: #006d94;
}

.post .post__intro {
    text-align: left;
}

.post .image {
    margin-bottom: 10px;
    overflow: hidden;
}

.post .image img {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

@media (max-width:767px) {
    .post .image img.img-responsive {
        min-width: 100%;
    }
}

.post .read-more {
    text-align: center;
}

.post:hover .image img {
    -webkit-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

#blog-homepage .post {
    margin-bottom: 60px;
}

#blog-homepage .post h2,#blog-homepage .post h4,#blog-homepage .post .author-category,#blog-homepage .post .read-more {
    text-align: center;
}

#blog-homepage .post .read-more {
    margin-top: 20px;
}

#blog-post #post-content {
    margin-bottom: 20px;
}

#blog-post .comment {
    margin-bottom: 25px;
}

#blog-post .comment:before,#blog-post .comment:after {
    content: " ";
    display: table;
}

#blog-post .comment:after {
    clear: both;
}

#blog-post .comment .posted {
    color: #999;
    font-size: 12px;
}

#blog-post .comment .reply {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
}

#blog-post .comment.last {
    margin-bottom: 0;
}

#blog-post #comments,#blog-post #comment-form {
    padding: 20px 0;
    margin-top: 20px;
    border-top: solid 1px #eee;
}

#blog-post #comments:before,#blog-post #comment-form:before,#blog-post #comments:after,#blog-post #comment-form:after {
    content: " ";
    display: table;
}

#blog-post #comments:after,#blog-post #comment-form:after {
    clear: both;
}

#blog-post #comments h4,#blog-post #comment-form h4 {
    margin-bottom: 20px;
}

#blog-post #comment-form {
    margin-bottom: 20px;
}

#checkout .nav {
    margin-bottom: 20px;
    border-bottom: solid 1px #958a73;
}

#checkout .nav li {
    height: 100%;
}

#checkout .nav li a {
    display: block;
    height: 100%;
    color: #555;
}

#checkout .nav li.disabled a {
    color: #999;
}

#checkout .nav>li.active>a,#checkout .nav>li.active>a:hover,#checkout .nav>li.active>a:focus {
    color: #fff;
    background-color: #958a73;
}

#order-summary table {
    margin-top: 20px;
}

#order-summary table td {
    color: #999;
}

#order-summary table tr.total td,#order-summary table tr.total th {
    font-size: 18px;
    color: #555;
    font-weight: 700;
}

#checkout .table tbody tr td,#basket .table tbody tr td,#customer-order .table tbody tr td {
    vertical-align: middle;
}

#checkout .table tbody tr td input,#basket .table tbody tr td input,#customer-order .table tbody tr td input {
    width: 50px;
    text-align: right;
}

#checkout .table tbody tr td img,#basket .table tbody tr td img,#customer-order .table tbody tr td img {
    width: 50px;
}

#checkout .table tfoot,#basket .table tfoot,#customer-order .table tfoot {
    font-size: 18px;
}

#customer-orders table tr th,#customer-orders table tr td {
    vertical-align: baseline;
}

#customer-order .table tfoot th {
    font-size: 18px;
    font-weight: 300;
}

#customer-order .addresses {
    text-align: right;
    margin-bottom: 30px;
}

#customer-order .addresses p {
    font-size: 18px;
    font-weight: 300;
}

#customer-account {
    margin-bottom: 30px;
}

.footer__block {
    background: #dad1bf;
    padding: 80px 0;
}

.footer__block h4 {
    border-top: solid 1px #555;
    border-bottom: solid 1px #555;
    padding: 15px 0;
    margin-bottom: 30px;
    font-size: 14px;
}

.footer__block ul {
    padding-left: 0;
    list-style: none;
}

.footer__block ul li {
    margin-bottom: 2px;
}

.footer__block ul a {
    color: #555;
    margin-bottom: 2px;
}

.footer__block ul a:hover {
    color: #006d94;
    text-decoration: none;
}

.footer__block p a {
    color: #555;
}

@media (min-width:992px) {
    .footer__block .row {
        margin-bottom: 40px;
    }
}

.footer__block p.social {
    text-align: left;
}

.footer__copyright {
    background: #353535;
    color: #ccc;
    padding: 20px 0;
    font-size: 12px;
    line-height: 28px;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.footer__copyright p {
    margin: 0;
}

@media (max-width:991px) {
    .footer__copyright p {
        float: none !important;
        text-align: center;
        margin-bottom: 10px;
    }
}

#style-switch-button {
    position: fixed;
    top: 100px;
    left: 0;
    border-radius: 0;
}

#style-switch {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 250px;
    padding: 20px;
    position: fixed;
    top: 140px;
    left: 0;
    background: #fff;
    border: solid 1px #eee;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.nav>li>a {
    padding: 10px 15px;
}

.nav>li>a:hover,.nav>li>a:focus {
    background-color: #eee;
}

.nav>li.disabled>a {
    color: #999;
}

.nav>li.disabled>a:hover,.nav>li.disabled>a:focus {
    color: #999;
}

.nav .open>a,.nav .open>a:hover,.nav .open>a:focus {
    background-color: #eee;
    border-color: #006d94;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs>li>a {
    line-height: 1.42857143;
    border-radius: 0 0 0 0;
}

.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
}

.nav-pills>li>a {
    border-radius: 0;
}

.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #006d94;
}

.nav-tabs-justified>li>a {
    border-radius: 0;
}

.nav-tabs-justified>.active>a,.nav-tabs-justified>.active>a:hover,.nav-tabs-justified>.active>a:focus {
    border: 1px solid #ddd;
}

@media (min-width:768px) {
    .nav-tabs-justified>li>a {
        border-bottom: 1px solid #ddd;
        border-radius: 0 0 0 0;
    }

    .nav-tabs-justified>.active>a,.nav-tabs-justified>.active>a:hover,.nav-tabs-justified>.active>a:focus {
        border-bottom-color: #fff;
    }
}

.navbar {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    min-height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

@media (min-width:768px) {
    .navbar {
        border-radius: 0;
    }
}

.navbar-collapse {
    max-height: 340px;
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-collapse.in {
    overflow-y: auto;
}

@media (min-width:768px) and (max-width:991px) {
    .navbar-collapse {
        font-size: 12px;
    }
}

@media (min-width:768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    .navbar-collapse.in {
        overflow-y: visible;
    }

    .navbar-collapse.right {
        float: right;
    }

    .navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse,.navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}

.container>.navbar-header,.container-fluid>.navbar-header,.container>.navbar-collapse,.container-fluid>.navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width:768px) {
    .container>.navbar-header,.container-fluid>.navbar-header,.container>.navbar-collapse,.container-fluid>.navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}

.navbar-brand {
    float: left;
    padding: 0 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

.navbar-brand:hover,.navbar-brand:focus {
    text-decoration: none;
}

@media (min-width:768px) {
    .navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand {
        margin-left: -15px;
    }
}

.navbar-toggle {
    float: none;
    padding: 9px 10px !important;
    margin-right: 15px;
    border-radius: 0;
}

.navbar-nav {
    margin: 7.5px -15px;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

@media (max-width:767px) {
    .navbar-nav .open .dropdown-menu>li>a,.navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }

    .navbar-nav .open .dropdown-menu>li>a {
        line-height: 20px;
    }

    .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-nav .open .dropdown-menu>li>a:focus {
        background-image: none;
    }
}

@media (min-width:768px) {
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float: none;
    }

    .navbar-nav>li {
        float: left;
    }

    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
    }
}

.navbar-form {
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
    border: none;
    margin-top: 8px;
    margin-bottom: 8px;
}

@media (max-width:767px) {
    .navbar-form .form-group {
        margin-bottom: 5px;
    }
}

.navbar-btn {
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar-btn.btn-sm {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-btn.btn-xs {
    margin-top: 14px;
    margin-bottom: 14px;
}

.navbar-text {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (min-width:768px) {
    .navbar-text {
        float: left;
        margin-left: 15px;
        margin-right: 15px;
    }

    .navbar-text.navbar-right:last-child {
        margin-right: 0;
    }
}

.navbar-default {
    background-color: #fff;
    border-bottom-color: #fff;
}

.navbar-default .navbar-brand {
    color: #777;
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}

.navbar-default .navbar-text {
    color: #777;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
}

.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus {
    color: #333;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus {
    color: #555;
    background-color: transparent;
}

.navbar-default .navbar-nav>.disabled>a,.navbar-default .navbar-nav>.disabled>a:hover,.navbar-default .navbar-nav>.disabled>a:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
}

.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
    background-color: #006d94;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-default .navbar-collapse {
    border-color: #fff;
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
    color: #555;
}

@media (max-width:767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #333;
        background-color: transparent;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #555;
        background-color: transparent;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.navbar-default .navbar-link {
    color: #777;
}

.navbar-default .navbar-link:hover {
    color: #333;
}

body {
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
}

a {
    color: #006d94;
    text-decoration: none;
}

a:hover,a:focus {
    color: #006d94;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.img-rounded {
    border-radius: 0;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.breadcrumb {
    padding: 8px 0;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 0;
    text-align: center;
}

.breadcrumb>li+li:before {
    content: "/\00a0";
    color: #ccc;
}

.breadcrumb>.active {
    color: #999;
}

.breadcrumb a {
    color: #958a73;
}

@media (max-width:991px) {
    .breadcrumb {
        padding: 8px 0;
        text-align: center;
    }
}

.btn {
    font-weight: 700;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 0;
}

.btn-primary {
    color: #006d94;
    background-color: #fff;
    border-color: #006d94;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {
    color: #006d94;
    background-color: #ebebeb;
    border-color: #006d94;
}

.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active {
    background-color: #fff;
    border-color: #006d94;
}

.btn-primary .badge {
    color: #fff;
    background-color: #006d94;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active {
    background: #006d94;
    color: #fff;
    border: solid 1px #006d94;
}

.btn-transparent {
    color: #555;
    background-color: transparent;
    border-color: #555;
}

.btn-transparent:hover,.btn-transparent:focus,.btn-transparent:active,.btn-transparent.active,.open .dropdown-toggle.btn-transparent {
    color: #555;
    background-color: rgba(0,0,0,0);
    border-color: #373737;
}

.btn-transparent:active,.btn-transparent.active,.open .dropdown-toggle.btn-transparent {
    background-image: none;
}

.btn-transparent.disabled,.btn-transparent[disabled],fieldset[disabled] .btn-transparent,.btn-transparent.disabled:hover,.btn-transparent[disabled]:hover,fieldset[disabled] .btn-transparent:hover,.btn-transparent.disabled:focus,.btn-transparent[disabled]:focus,fieldset[disabled] .btn-transparent:focus,.btn-transparent.disabled:active,.btn-transparent[disabled]:active,fieldset[disabled] .btn-transparent:active,.btn-transparent.disabled.active,.btn-transparent[disabled].active,fieldset[disabled] .btn-transparent.active {
    background-color: transparent;
    border-color: #555;
}

.btn-transparent .badge {
    color: transparent;
    background-color: #555;
}

.btn-transparent:hover,.btn-transparent:focus,.btn-transparent:active,.btn-transparent.active {
    background: #006d94;
    color: #fff;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 0;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0;
}

.dropdown-menu>li>a {
    padding: 8px 20px;
}

.label {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

label {
    font-weight: 400;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #999;
}

.form-control::-webkit-input-placeholder {
    color: #999;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6);
}

.form-group {
    margin-bottom: 20px;
}

.pager {
    margin: 20px 0;
    border-top: solid 1px #eee;
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 12px;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.pager li {
    display: inline;
}

.pager li>a,.pager li>span {
    background-color: #fff;
    border: 1px solid #006d94;
    border-radius: 0;
}

.pager li>a:hover,.pager li>a:focus {
    text-decoration: none;
    color: #fff;
    background-color: #006d94;
}

.pager .disabled>a,.pager .disabled>a:hover,.pager .disabled>a:focus,.pager .disabled>span {
    color: #999;
    background-color: #fff;
    border-color: #ddd;
}

.pagination {
    margin: 20px 0;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    border-radius: 0;
}

.pagination>li>a,.pagination>li>span {
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #006d94;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus {
    color: #006d94;
    background-color: #bfe8df;
    border-color: #ddd;
}

.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    background-color: #006d94;
    border-color: #006d94;
}

.pagination>.disabled>span,.pagination>.disabled>span:hover,.pagination>.disabled>span:focus,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus {
    color: #999;
    background-color: #fff;
    border-color: #ddd;
}

@media (max-width:767px) {
    .text-center-xs {
        text-align: center !important;
    }

    .text-center-xs img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .text-center-sm {
        text-align: center !important;
    }

    .text-center-sm img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    font-weight: 900;
    line-height: 1.2;
    color: #333;
    text-transform: uppercase;
    letter-spacing: .1em;
}

h1,.h1 {
    font-size: 36px;
}

h2,.h2 {
    font-size: 30px;
}

h3,.h3 {
    font-size: 24px;
    font-weight: 700;
}

h4,.h4 {
    font-size: 18px;
    font-weight: 700;
}

h5,.h5 {
    font-size: 14px;
    font-weight: 700;
}

h6,.h6 {
    font-size: 12px;
    font-weight: 700;
}

h1,.h1,h2,.h2,h3,.h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

p {
    margin: 0 0 20px;
}

.lead {
    margin-bottom: 20px;
    font-size: 16px;
}

@media (min-width:768px) {
    .lead {
        font-size: 21px;
    }
}

.text-small {
    font-size: 12px;
}

.text-large {
    font-size: 18px;
}

.text-italic {
    font-style: italic;
}

.text-primary {
    color: #006d94;
}

a.text-primary:hover {
    color: #006d94;
}

.bg-primary {
    color: #fff;
    background-color: #006d94;
}

a.bg-primary:hover {
    background-color: #006d94;
}

abbr[title],abbr[data-original-title] {
    border-bottom: 1px dotted #999;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 14px;
    border-left: 5px solid #006d94;
}

blockquote footer,blockquote small,blockquote .small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #999;
}

blockquote footer:before,blockquote small:before,blockquote .small:before {
    content: '\2014 \00A0';
}

.blockquote-reverse,blockquote.pull-right {
    border-right: 5px solid #006d94;
}

address {
    margin-bottom: 20px;
    line-height: 1.42857143;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}

.panel-default {
    border-color: #666;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #666;
}

.panel-default>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #666;
}

.panel-default>.panel-footer+.panel-collapse .panel-body {
    border-bottom-color: #666;
}

.panel-primary {
    border-color: #006d94;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #006d94;
    border-color: #006d94;
}

.panel-primary>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #006d94;
}

.panel-primary>.panel-footer+.panel-collapse .panel-body {
    border-bottom-color: #006d94;
}

.panel-primary .panel-title {
    font-weight: 300;
}

.panel-primary .panel-title a:hover {
    color: #fff;
    text-decoration: none;
}

a.badge:hover,a.badge:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

a.list-group-item.active>.badge,.nav-pills>.active>a>.badge {
    color: #006d94;
    background-color: #fff;
}

.nav-pills>li>a>.badge {
    margin-left: 3px;
}

.contact-form {
    margin-bottom: 20px;
}

p.social {
    text-align: center;
    margin-top: 20px;
}

p.social a {
    margin: 0 10px 0 0;
    color: #fff;
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    line-height: 26px;
    font-size: 15px;
    text-align: center;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    vertical-align: bottom;
}

p.social a i {
    vertical-align: bottom;
    line-height: 26px;
}

p.social a.facebook {
    background-color: #4460ae;
}

p.social a.gplus {
    background-color: #c21f25;
}

p.social a.twitter {
    background-color: #3cf;
}

p.social a.instagram {
    background-color: #cd4378;
}

p.social a.email {
    background-color: #4a7f45;
}

.copyright {
    margin-top: 40px;
    color: #999;
}

.copyright p.credit {
    text-align: right;
}

.copyright p.credit a {
    color: #999;
}

@media (max-width:991px) {
    .copyright p.credit {
        text-align: center !important;
    }
}

@media (min-width:1200px) {
    .copyright {
        margin-top: 60px;
    }
}

@media (max-width:991px) {
    .copyright {
        text-align: center !important;
    }
}

#map {
    height: 400px;
}

#style-switch-button {
    position: fixed;
    top: 100px;
    left: 0;
    border-radius: 0;
    z-index: 2;
}

#style-switch {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 300px;
    padding: 20px;
    position: fixed;
    top: 140px;
    left: 0;
    background: #fff;
    border: solid 1px #eee;
    z-index: 2000;
}

#style-switch h4 {
    color: #555;
}